@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
///
///
///

/* Skill section */

	#confidence {
		position: relative;
		max-width: 768px;
		min-width: 27em;
		@include padding(1em, 1em);
		margin-top: 2em;

		background: _palette(bg);
		border-radius: _size(border-radius);
		cursor: default;
		opacity: 0.95;
		text-align: center;

		.heading {
			position: relative;
			display: block;
			margin-bottom: _size(element-margin);
			h2 {
				width: 50%;
				margin: 1em auto;
				background-color: _palette(bg);
				border: _size(border-width) solid _palette(border);
			}
			h4 {
				margin-top: 0.5em;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0.8em;
				left: -1em;
				width: calc(100% + 2em);
				height: _size(border-width);
				z-index: -1;
				background: _palette(border);
			}
		}
		.content {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding-top: 0;
			margin-top: 0;
			.skill-block {
				position: relative;
				width: 100px;
				height: 100px;
				// border: 1px solid _palette(border);
				border-radius: 2px;
				align-self: center;
				margin: {
					right: 0.5em;
					left: 0.5em;
					bottom: 1em;
				}
				.icon{
					height: 80%;
					width: 100%;
					position: relative;
					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					img{
						position: absolute;
						top: 50%;
						left: 50%;
						max-width: 50px;
						max-height: 50px;
						transform: translate(-50%, -50%);
					}
				}
				.label{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2em;
				}
			}
		}

		@include breakpoint(xsmall) {
			min-width: 0;
			width: 100%;
		}
	}