@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
///
///
///

/* Skill section */

	#portfolio {
		position: relative;
		max-width: 1024px;
		min-width: 27em;
		@include padding(1em, 1em);
		margin-top: 2em;

		background: _palette(bg);
		border-radius: _size(border-radius);
		cursor: default;
		opacity: 0.95;
		text-align: center;

		.heading {
			position: relative;
			display: block;
			margin-bottom: _size(element-margin);
			h2 {
				width: 50%;
				margin: 0 auto;
				background-color: _palette(bg);
				border: _size(border-width) solid _palette(border);
			}
			h4 {
				margin-top: 0.5em;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0.8em;
				left: -1em;
				width: calc(100% + 2em);
				height: _size(border-width);
				z-index: -1;
				background: _palette(border);
			}
		}

		.content {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding-top: 0;
			margin-top: 0;
			.content-block{
				position: relative;
				width: 290px;
				height: 250px;
				border: 1px solid _palette(border);
				border-radius: 2px;
				margin: {
					right: 0.5em;
					left: 0.5em;
					bottom: 1em;
				}
				align-self: center;
				&:hover {
					.snippet{
					}
				}
				.content-img{
					position: relative;
					top: 0;
					max-width: 100%;
					height: auto;
				}
				.snippet{
					position: absolute;
					bottom: 0;
					height: 4em;
					width: 100%;
					border-top: _size(border-width) solid _palette(border);
					background-color: _palette(bg);
					.tags {
						position: absolute;
						display: block;
						width: 100%;
						bottom: 0;							
						text-align: center;
						text-transform: capitalize;
						font-size: 12px;
						color: _palette(border);
					}
				}
			}
		}


		@include breakpoint(xsmall) {
			min-width: 0;
			width: 100%;
		}
	}